.toggleContainer {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  margin: 0 1rem;
}

.toggleContainer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-size: cover;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #72bef4;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-image: url('../assets/icon/sun.png');
}

/* Set background colors for light and dark mode */
[data-theme='light'] {
  background: linear-gradient(135deg, #72bef4, #91eae4);
  color: #000000;
}

/* 토글이 꺼진 상태에서 달 모양 이미지 보여주기 */
[data-theme='light'] .slider:before {
  background-image: url('../assets/icon/moon.png'); /* 달 모양 이미지를 배경으로 설정 */
}

[data-theme='dark'] {
  background-color: #1e2127;
  color: #ffffff;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
