.Container {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;

  height: 3rem;

  /* border: 1px solid; */
  align-items: center;
}

.scrolling {
  background-color: rgba(30, 33, 39, 0.3);
}

.MenuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MenuWrapper div {
  margin: 0 1rem;
  font-size: 1rem;

  cursor: pointer;
}
