.Container {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  height: 3rem;

  /* border: 1px solid; */
  box-sizing: border-box;
  align-items: center;
  padding-left: 3rem;
  padding-right: 1rem;
  z-index: 100;
}

.scrolling {
  background-color: rgba(30, 33, 39, 0.3);
}

.MenuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.MenuWrapper div {
  margin: 0 1rem;
  font-size: 1rem;

  cursor: pointer;
}

.scrollToTopBtn {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
